@define-color backgroundlight rgba(255,255,255,0.7);
@define-color backgrounddark rgba(150,150,150,0.7);
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #AAAAAA;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.25);
    border-radius: 25px;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Groups and Top Level Components
 * ----------------------------------------------------- */

#misc,
#workspaces,
#window,
#mpris,
#clock,
#custom-appmenu,
#tray {
    padding: 4px 10px 2px 10px;
    margin: 10px 5px 10px 0px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: @textcolor1;
    background-color: @backgroundlight;
}

/* -----------------------------------------------------
 * Children
 * ----------------------------------------------------- */

#cpu, #memory, #disk,
#pulseaudio, #network, #battery,
#clock {
    font-family: "Sarasa Mono K Nerd Font";
}

#pulseaudio, #network, #battery {
    padding: 0;
    margin: 0 2px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces button {
    padding: 0 0px;
    margin: 0 2px;
    font-size: 1em;
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @workspacesbackground2;
}

/* #workspaces button.active {} */

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: @backgroundlight;
    opacity: 0.8;
    padding: 20px;
    margin: 0px;
}

tooltip label {
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

window#waybar.empty #window {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: @backgroundlight;
    margin: 6px 15px 6px 0px;
    padding:0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    border: 3px solid @backgroundlight;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left {
    margin: 0 20px 0 10px;
}

.modules-right {
    margin-left: 20px;
}

#custom-browser,
#custom-filemanager
{
    margin: 10px 5px 10px 0px;
    font-weight: bold;
    color: @iconcolor;
    padding: 4px 10px 2px 10px;
    font-size: 14px;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
    padding: 0px;
    margin: 3px;
    font-size: 16px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 2px 20px 0px 0px;
    padding: 0px;
    font-size: 20px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Hardwares
 * ----------------------------------------------------- */

 #disk,#memory,#cpu,#load,#language {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio.muted {
    background-color: @backgroundlight;
    color: @textcolor1;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: @backgroundlight;
    font-size: 14px;
    color: @textcolor2;
    border-radius: 15px;
    margin: 10px 15px 10px 0px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textcolor3;
    border-radius: 10px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}
