layout {
    default_tab_template {
        children

        pane size=1 borderless=true {
            // Use the alias so its tooltip configuration is inherited.
            plugin location="compact-bar"
        }
    }
}
