blur {
  passes 4
  offset 4.0
  noise 0.02
  saturation 1.7
}

window-rule {
  match app-id="com.mitchellh.ghostty"
  background-effect {
    blur true;
    xray false;
  }
}

window-rule {
  match app-id=r#"^(code|Code)$"#

  background-effect {
    blur true;
    xray false;
  }
}
